<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://xmlns.jcp.org/xml/ns/javaee"
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>JDBCDemo</display-name>

  <context-param>
<param-name>JDBC_DRIVER</param-name>
<param-value>com.mysql.cj.jdbc.Driver</param-value>
</context-param>
<context-param>
<param-name>JDBC_URL</param-name>
<param-value>jdbc:mysql://localhost:3306/testjdbc?serverTimezone=Europe/Paris</param-value>
</context-param>
<context-param>
<param-name>JDBC_LOGIN</param-name>
<param-value>root</param-value>
</context-param>
<context-param>
<param-name>JDBC_PASSWORD</param-name>
<param-value>root</param-value>
</context-param>
<session-config>
<session-timeout>20</session-timeout>

</session-config>
<welcome-file-list>
<welcome-file>helloworld</welcome-file>
</welcome-file-list>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
  <servlet-name>helloworld</servlet-name>
  <servlet-class>co.simplon.controller.helloworld</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>helloworld</servlet-name>
  <url-pattern>/country</url-pattern>
  </servlet-mapping>

</web-app>